@media screen and ( max-width : 768px) {
    .rightSide{
        display: none;
    }
    /* *{
        background-color: #fffcf5;
    }
    body,html{
        background-color: rgba(255,252,245,.1)!important;
    } */
    .banner{
        width: 100%;
        margin:0;
    }
    .header{
        display: flex;
        align-items: center;
        height: 66px;
        width: 100%;
        position: relative;
    }
    .head-portrait{
        margin-top: 2px;
        text-align: center;
        margin-right:10px;
    }
    .head-left{
        position: absolute;
        left:25px;
        display: block;
    }
    .main{
        padding:0;
    }
    .gif{
        margin:0;
    }
    .head-left img{
        vertical-align: middle;
    }
    .head-left h3{
        display: inline-block;
        vertical-align: middle;
        font-size: 28px;
        color:#5a323c;
        font-weight: normal;
        font-size: 18px;
    }
    .head-portrait img{
        margin-right: 4px;
    }
    .resource{
        margin-top:20px;
    }
    .resource h3{
        font-size: 18px;
        margin-left:18px;
    }
    .vedio{
        width: 349px!important;
        height: 200px!important;
        margin:0 auto;
    }
    .share{
        display: none;
    }
    video{
        width: 349px;
        height: 200px;
    }
    .fenge{
        margin-top:18px;
        margin-bottom:42px;
        overflow: hidden;
    }
    .people{
        top:490px;
    }
    .ulList img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    .image{
        padding-top:20px;   
        overflow: hidden; 
    }
    .image li{
        width: 24%;
        display: inline-block;
        text-align: center;
    }
    .people-talk{
        margin-left:10px;
        margin-top:30px;
        background-color: #fff;
        width: 90%;
        border-radius: 12px;
        border:1px solid #5a323c;
        padding:10px 0;
        position: relative;
    }
    .people-talk span{
        margin-left:20px;
    }
    .figure{
        width: 0;
        height: 0;
        /* border-width: 2px 10px 2px 10px;
        border-color: transparent transparent #000 transparent;
        border-style: solid; */
        position: absolute;
        top:-10px;
        left:10px;
    }
    .figure:before{
        content:'';
        display: block;
        position:absolute; 
        bottom:0; 
        left:10px; 
        top:-9px;
        /* margin-left:-9px;  */
        width:0; 
        height:0;
         border-width:9px; 
         border-style:solid; 
         border-color:transparent transparent #5a323c transparent;
    }
    .figure:after{
        content:'';
        display: block;
        position:absolute; 
        bottom:0; left:10px; 
        top:-8px;
        /* margin-left:-9px;  */
        width:0; height:0; 
        border-width:9px;
        border-style:solid;
        border-color:transparent transparent #fff transparent;
    }
    .people-talk{
        margin-bottom:20px;      
    }
    .circle,.circle2{
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border:1px solid #5a323c;
        display: inline-block;
        /* margin-left:100px; */
    }
    .circle{
        margin-left:100px;
    }
    .taolun{
        margin-bottom:30px;
    }
    .taolun span{
        margin-left:20px;
    }
    .circle2{
        margin-left:20px;
    }
    .giveTicket{
        margin: 20px 10px 20px 10px;
        font-size: 14px;
    }
    .giveTicket span{
        text-indent: 0;
        margin-left:0;
    }
    .tou1,.tou2{
        width: 44%;
        height: 120px;
        display: inline-block;
        margin: 0 10px;
        padding:20px 20px;
        box-sizing: border-box;
        position: relative;
    }
    .tou1 img,
    .tou2 img{
        width: 100%;
        height: 100%;
    }
    .btn{
        width: 60px;
        height: 20px;
        background-color: #c6544c;
        position: absolute;
        bottom:10px;
        font-size: 12px;
        left:56px;
        border-radius: 12px;
        text-align: center;
        line-height: 20px;
        color:#fff;
    }
    .tou1 span,
    .tou2 span{
        display: block;
        margin-top:10px;
    }
    .fenge3{
        height: 1px;
        background-color: #b4a0a0;
    }
    .review-top{
        margin:0 10px;
        margin-bottom: 10px;
    }
    .review-top span{
        font-size: 12px;
    }
    .more{
        line-height: 22px;
    }
    .medio3{
        display: none;
    }
    .medio1{
        width: 49%!important;
    }
    .medio2{
        width: 49%!important;
    }
    .vedioList{
        margin:0 10px;
        box-sizing: border-box;
    }
    .medio1 img{
        width: 100%;
        height: 120px;
    }
    .medio2 img{
        width: 100%;
        height: 120px;
    }
    .text,.rocket,.headerImg{
        font-size: 12px;
    }
    .fenge{
        margin-bottom:20px;
    }
    .say-top{
        margin:0 10px;
        margin-bottom:10px;
    }
    .word-top{
        width: 94%;
        margin:0 10px;
        /* height: 120px; */
    }
    .word-top span{
        padding: 20px 10px 10px 40px;
    }
    .word-top i{
        left:10px;
        top:46px;
    }
    .login{
        width: 94%!important;
        margin-left: 10px;
        margin-top:26px;
    }
    .login span{
        margin-left: 38px;
    }
    .login i{
        left:10px;
    }
    .register{
        width: 50px!important;
        height: 30px;
        right:70px
    }
    .loginGo{
        width: 55px!important;
        height: 33px;
        right:10px;
    }
    .word-main{
        width: 94%!important;
        margin:20px 10px;
    }
    .fenge1 span{
        width: 33%;
    }
    .first{
        margin-left:16px;
    }
    .fenge1 p{
        margin:0;
        
    }
    .comment{
        margin-left:2px;
        margin-top:26px;
    }
    
}